.aboutMe{
    background-color: rgb(58, 55, 55);
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
    padding: 1px;
}

.para{
    text-align: left;
    font-size: larger;
    padding: 10px;
    margin: 0%;
}

.task1{
    background-color:  rgb(52, 52, 52);
    border: 1px solid rgb(83, 83, 82);
    width: 90%;
    margin: 1.2rem;
    margin-right: 1rem;
    border-radius: 10px;
    padding: 0.2px;
    font-size: large;
    margin-bottom: 10px;
}


.testimonials{
    background-color:  rgb(52, 52, 52);
    border: 1px solid rgb(83, 83, 82);
    width: 90%;
    margin: 1.2rem;
    margin-right: 1rem;
    border-radius: 10px;
    padding: 0.2px;
}

.testimonials p{
    text-align: left;
    font-size: larger;
    padding: 10px;
    margin: 0%;
}

   

