.navbar {
    position: fixed;
    bottom: 0;
    margin-top: 12px;
    width: 100%;
    left: 0;
    background-color: #333;
    color: white;
    border: 1px solid gray;
    border-radius: 10px;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
  }
  
  .navbar ul li {
    margin: 5px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: white;
  }
  